.link-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-list-item {
    background: #ffffff0f;
    border-radius: 10px;
    margin: 10px;
    border: solid 1px #ffffff14;
    height: 75px;

    .line {
      display: flex;
      flex-direction: row;
      margin-bottom: 3px !important;

      .cont {
        margin-left: 11px;
        color: #cbcbcb;
        font-weight: 200;
        font-family: system-ui;
      }
    }

    .sub {
      padding-top: 6px;
      padding-left: 18px;
      color: #747474;

      .error {
        color: #f44336 !important
      }
    }
  }

  .active {
    box-shadow: 2px 4px 6px 0px rgb(0 0 0 / 11%);
    border: solid 1px #69f0ae29;
    color: #69f0ae;
    -webkit-animation: blink 2s infinite;
    animation: blink 2s infinite;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 10;
    }
    50% {
      opacity: 100;
    }
    75% {
      opacity: 90;
    }
    100% {
      opacity: 0;
    }
  }

  .diff-link {
    cursor: pointer;
    text-decoration: underline;
    color: #8f8f8f;
    font-size: 12px;
  }
}
