.list-container {
  margin-left: 15px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  color: white;
}

.mat-subheader {
  color: rgb(105 240 174);
}
