.menu-wrapper {
  height: 100%;
  display: flex;
  width: 170px;
  mat-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-list-item {
      cursor: pointer;
    }
  }
  .menu-active {
    background: rgba(255, 255, 255, 0.12);
  }
}
