<div class="menu-wrapper">
  <mat-list>
    <mat-list-item mat-ripple routerLink="packages" routerLinkActive="menu-active">
      <mat-icon mat-list-icon>category</mat-icon>
      <div mat-line>Packages</div>
    </mat-list-item>
<!--    <mat-list-item mat-ripple routerLinkActive="menu-active">-->
<!--      <mat-icon mat-list-icon>web</mat-icon>-->
<!--      <div mat-line>Clients</div>-->
<!--    </mat-list-item>-->
    <mat-list-item mat-ripple>
      <mat-icon mat-list-icon>link</mat-icon>
      <div mat-line>Links</div>
    </mat-list-item>
  </mat-list>
</div>
