<div class="menu-wrapper">
  <mat-list>
    <mat-list-item mat-ripple routerLink="packages" routerLinkActive="menu-active">
      <mat-icon class="material-icons-outlined" mat-list-icon>inventory_2</mat-icon>
      <div mat-line>Packages</div>
    </mat-list-item>
    <mat-list-item mat-ripple routerLink="links" routerLinkActive="menu-active">
      <mat-icon class="material-icons-outlined" mat-list-icon>link</mat-icon>
      <div mat-line>Links</div>
    </mat-list-item>
    <!--    <mat-list-item mat-ripple routerLink="store" routerLinkActive="menu-active">-->
    <!--      <mat-icon mat-list-icon class="material-icons-outlined">inbox</mat-icon>-->
    <!--      <div mat-line>Store</div>-->
    <!--    </mat-list-item>-->
  </mat-list>
</div>
